input {
  jdbc {
    jdbc_driver_library => "${JDBC_DRIVER_PATH}"
    jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
    jdbc_connection_string => "${HOME_URL}"
    jdbc_user => "${HOME_USERNAME}"
    jdbc_password => "${HOME_PASSWORD}"
    schedule => "*/60 * * * * *"



    tracking_column => "updated_at"
    use_column_value => true

    statement => "SELECT * FROM trashcan WHERE updated_at > :sql_last_value"

    last_run_metadata_path => "/usr/share/logstash/.logstash_jdbc_last_run"
  }
}

output {
  elasticsearch {
    hosts => ["http://es:9200"]
    index => "trashcan"
    document_id => "%{id}"
    user => "${ELASTIC_USERNAME}"
    password => "${ELASTIC_PASSWORD}"


  }
}